:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.transcribe-container-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.button-container {
  display: flex;
  gap: 10px; /* Adjust the gap value to set the desired space between the buttons */
  padding: 10px;
  margin: 10px;
}

.recording-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recording-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.recording-animation {
  font-size: 20px;
  animation: pulse 1s infinite;
}

.recording-animation.paused {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container {
  display: flex;
  align-items: center;
}

.output-container {
  flex: 1;
  padding: 10px;
  width: 350px;
  height: 300px;
  border: 2px #535bf2 solid;
  box-shadow: 0 2px 8px #747bff;
  border-radius: 12px;
}

.transcription-container {
  font-size: 14px;
  color: #a5aaff;
  max-height: 300px; /* Set the desired maximum height */
  overflow: auto;
  text-align: left;
}

.summary-container {
  font-size: 14px;
  color: #ffffff;
  max-height: 300px; /* Set the desired maximum height */
  overflow: auto;
  text-align: left;
}

.divider {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio-container {
  margin-bottom: 20px;
}